body {
  font-family: 'Oswald', sans-serif, Arial, Helvetica;
  margin: 25px;
  padding: 25px;
  padding-left: 160px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@355&display=swap');

#sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(80, 77, 77);
  overflow-x: hidden;
  padding-top: 20px;
}
